@charset "UTF-8";
/* class */
.j_category{
	width:100px;
	font-weight:bold;
	display:inline-block;
}
.j_centerFrm{
	width:1200px;
	float:right;
}
.j_centerFrm>h1{
	padding-bottom:15px;
	border-bottom:2px solid gray;
}
.j_search{padding-top:10px;height:30px;}
.j_search>form{float:right;height:25px;line-height:25px;}
.j_search select, .j_search input{height:25px;line-height:25px;vertical-align:middle;} /* 높이 통일화 필요 */
.j_search input[type=text]{padding:0;box-sizing:border-box;}

/*관리자 메뉴 상단 타이틀*/
.j_adminMemu{
	/* height:100px;
	line-height:100px; */
	margin: 50px auto 20px auto;
	text-align:center;
}
.j_adminMemu>span{
	display:inline-block;
	font-size:30px;
	font-weight:bold;
}
.j_adminMemu>span:after{
	content:"";
	display:block;
	width:80px;
	border-bottom:1px solid rgb(191,43,53);
	margin:20px auto;
}

/*버튼 css*/
.j_eventSetBtn input[type=button]{
	height:25px;width:40px;
}
.j_eventSetBtn{
	text-align:right;
}
#j_insertBtn{
	height:25px;width:85px;
}
input[type=submit], input[type=button] {
	cursor:pointer;
}
/*--------------
	이벤트 목록
---------------*/
#eventList>li{
	float:left;
	width:10%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #eee;
}
#eventList>li:nth-child(-n+5){
	font-weight:bold;
	font-size:1em;
	color:#333;
	border-bottom:1px solid #aaa;
}
#eventList>li:nth-child(5n+2){width:5%;}
#eventList>li:nth-child(5n+3){width:55%;}
#eventList>li:nth-child(5n+4){width:20%;}
#eventList>li:not(.wordcut){text-align:center;}

/*--------------
	이벤트 등록
---------------*/
.j_category{
	margin-bottom:15px;
}
#j_eventSubject{
	width:375px; height:20px;
}
#j_eventStart, #j_eventEnd{
	width:155px; height:20px;
}

/*--------------
	이벤트 뷰
---------------*/
#j_contentImg{
	text-align:center;
}

/*--------------
	이벤트 수정
---------------*/
#j_eventFile b{
	cursor:pointer;
}