@charset "UTF-8";





#d_faqAdtitle{
	height:40px;
}
#d_faqAdtitle>ul li{
	height:40px;
	border-top:2px solid rgb(90,120,114);
	border-bottom:1px solid #ddd;
	background-color:rgb(251,251,251);
	width:100%;
}

.d_faqAdsubject{
	width:100%;
	overflow:hidden;
	height:41px;
	line-height:41px;
	border-bottom:1px solid #ddd;
	transition: all 0.5s;
}

/*faqAd 질문*/
#d_faqSubject{
	width:50%;
	height:25px;
}
#d_faqCate{
	height:25px;
}

.d_faqAdname div{
	float:left;
	height:40px;
	line-height:40px;
	font-weight:bold;
}

.d_faqAdname>div:nth-of-type(1){
	width:4%;
	text-align:center;
	font-size:18px;
	color:rgb(90,120,114);
}
.d_faqAdname>div:nth-of-type(2){
	width:86%;
	font-size:14px;
}
.d_faqAdname>div:nth-of-type(3){
	width:10%;
	font-size:14px;
	font-weight:bold;
}

.d_faqAdname>div:last-of-type input{
	float:right;
	width:60px;
	height:30px;
	line-height:30px;
	margin: 5px auto;
}

/*답변*/


.d_faqAdcontent{
	width:100%;
	float:left;
	background-color:rgb(251,251,251);
	
}
.d_faqAdcontent div{
	float:left;
}
.d_faqAdcontent>div:first-of-type{
	width:4%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:rgb(191,43,53);
}
.d_faqAdcontent>div:last-of-type{
	width:96%;
	font-size:13px;
}

#d_faqBtn{
	float:right;
	width:60px;
	height:30px;
}

#d_paging{
	width:200px;
	margin:30px auto;
}