@charset "UTF-8";

/* 관리자 공통메뉴 */
.h_sidemenuContainer {
	float:left;
	width: 150px;
	text-align:center;
}

.h_menu_list .h_menu_submenu {
    padding:0;
}
.h_menu_list .h_menu_submenu li a {
    display:block;
    padding:10px 0 10px 20px;

}
.h_menu_list .h_menu_submenu li a:hover {
    background:#eee;
}

/* 메뉴 전체 스타일 */
.h_menu_list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 150px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 1px 1px 2px;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
}
.h_menu_list li{
	text-align:left;
}

/* 관리탭 대분류 */
.h_menu_list li.accordion-toggle {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
.h_menu_list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

.accordion-content {
	display:none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}
/* 아코디언 toggle 이벤트 발생시 */
.accordion-toggle.active-tab {
  background: rgb(191,43,53);
  transition: all 0.3s ease;
  
}
.accordion-toggle.active-tab a{
  color:white !important;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff;
    opacity: 0;
}
/* 관리자 공통메뉴 끝 */


.h_mainContainer{
	float:right;
	width:100%;
	width:1200px;
}

.h_memberSearch_header{
	
	height:150px;
	text-align:center;
	line-height:150px;
	font-size:25px;
	
}

/* 메인카테고리 */
	.h_ipt{
		padding: 8px 0;
		border: 1px solid #E8EAED;
		border-radius: 1px;
	    background: white;
	    box-shadow: 0 1px 3px -2px #9098A9;
		margin:0;
		font-size: 16px;
	}
	
	.h_searchSelect {
	    padding: 8px 10px;
	    border: 1px solid #E8EAED;
	    border-radius: 1px;
	    background: white;
	    box-shadow: 0 1px 3px -2px #9098A9;
	    cursor: pointer;
	    font-size: 16px;
   
     }
	
	/* 테이블 정렬용 */
	
	.h_formtable{
		border:1px solid;
	}
	
	.h_formtable td:nth-child(2n+1){
		text-align:left;
		padding:0 0 0 25px;
		width:300px;
		height: 40px;
		font-size:1.1em;
		background-color:lightgray;
	}
	
	.h_formtable td:nth-child(2n){
		text-align:left;
		height: 40px;
		width:900px;
		border-bottom: 1px solid #E8EAED;;
	}

	.h_last_td{
		border-bottom: none !important;
	}
	
	.h_radiochk {
		font-size: 16px;
		
	}
	
	.h_searchBtnBox {
		margin:10px 0;
		width:1200px;
		text-align:center;
		
	}
	.h_searchMultiBtn {
	
		margin:10px 0;
		width:1200px;
		
	}
	
	/* 회원검색 ul li */
	
	.h_memList li{
		float:left;
		width:12.5%;
		height:40px;
		line-height:40px;
		text-align:left;
		border-bottom:1px solid #eee;
		font-size:12px;
		text-align:center;
		
	}
	
	.h_listHeader {
		border-top: 1px solid #ddd;
		border-bottom:1px solid #aaa !important;
	}
	
	.h_memdormant {
		border: none;
		background-color: rgb(191,43,53); color:#fff;
		font-family: 'Nanum Gothic', sans-serif;
		font-weight: bold; cursor:pointer;
		pointer-events: none;
	}
	
	.h_memTableLi{
		margin:40px 0;
		
	}
	
	
	
	
	/* .h_mainContainer li:nth-child(9n+5) {
		
	} */
	
	
	
	

	




