@charset "UTF-8";

/*id css*/


/* productInsert */
#sidefrm {
	width: 150px;
	float:left;
}

#centerfrm, #centerfrmEdit {
	width: 1250px;
	float: right;
}

#insertInfo, #insertImg, #insertOption, #productSearch, #ProductListPrint  {
	background-color: #fff;
	width: 1100px;
	margin:0 auto;
	padding : 0 12px;
	display : block;
}

#pageTitle {
	margin: 40px auto; text-align: center;
}
#pageTitle>span {
	display:inline-block; font-size: 30px; font-weight: bold; 
}
#pageTitle>span:after {
	content: "";
    display: block;
    width: 80px;
    border-bottom: 1px solid rgb(191,43,53);
    margin: 20px auto;
}

#centerfrm>form>div>p, #centerfrmEdit>form>div>p, #centerfrm>div>p:first-child {
	margin-bottom: 20px; height: 50px; line-height: 50px;
	border-bottom : 2px solid;
}
#centerfrm>form>div, #centerfrmEdit>form>div, #centerfrm>div {
	margin-bottom: 40px;
}

#insertImg{
	position:relative;
}

#insertImg>div>input[type=file] {
	margin-bottom: 50px;
}
#insertImg>div>input[type=file]:nth-of-type(2) {
	margin-bottom: 130px;
}

#imgPrint {
	position:absolute;
	width: 250px; height: 250px;
	border:1px solid;
	top: 100px; left:500px;
}
#imgPrint>img {
	width: 248px; height: 248px;
}

#lastP {
	width:450px; margin: 0 auto 50px;
}

#lastP>input {
	width:200px; height: 50px;
}

/* optionTbl */
#optionTbl {
	margin-bottom: 50px;
}
#optionTbl>div:first-child {
	width: 750px; margin:30px auto;
	text-align: center;
}

#optionTbl img:not(br+img) {
	margin-left: 4px; margin-bottom:1px;
	vertical-align: middle;
	width: 32px; height: 32px;
	cursor: pointer;
}

#optionTbl>div>input:nth-of-type(3) {
	width:50px; height:28px;
	vertical-align: top;
}


/* productSearch */
#insertInfo>div {
	overflow: auto;
}
#insertInfo>div>form>input[type=submit] {
	float:right; width: 150px; height: 35px;
	margin-right: 50px;
}
#searchContent {
	display:inline-block;
	width: 80px; margin-left: 40px;
}
#searchWord {
	height: 25px;
	vertical-align: top;
}

#pDateCate {
	overflow: auto; text-align: center;
	margin-bottom: 5px;
}
#pDateCate>li {
	float:left; width: 83px; height: 30px; line-height: 30px;
	background-color: #eee;
	border-right: 1px solid #ddd;
}
#pDateCate>li:first-child {
	background-color: #fff; text-align: left;
	border: none; width:93px;
}
#pDateCate>li:last-child {
	border: none;
}

#productListPrint, #productListPrint>form {
	overflow:auto;
}

#productList {
	overflow: auto; text-align: center;
	margin-top: 30px;
}
#productList>li {
	float:left; width: 10%; height: 40px; line-height: 40px;
	border-bottom: 1px solid #eee;
}
#productList>li.tableHeader, #categoryList>li.tableHeader {
	border-top: 1px solid #333;
	border-bottom: 1px solid #aaa;
}
#productList>li:nth-of-type(8n+1) {
	width: 4%;
}
#productList>li:nth-of-type(8n+3) {
	width: 15%;
}
#productList>li:nth-of-type(8n+4):not(#productList>li:nth-of-type(4)) {
	text-align: left; padding-left:2%; width: 28%;
}
#productList>li:nth-of-type(8n+4) {
	width: 30%;
}
#productList>li>input[type=checkbox] {
	width: 15px; height: 15px; margin: 0 auto;
}
#productList>li>input[type=submit]{
	width: 100px; height: 30px;
}

/* product Edit */
#editImg>div>div>img {
	width: 15px; height: 15px;
	vertical-align: middle;
	cursor: pointer;
}

/* manage category */
#categoryList {
	overflow: auto; text-align: center;
	width: 1000px; margin: 30px auto;
}
#categoryList>li {
	float:left; width: 10%; height: 40px; line-height: 40px;
	border-bottom: 1px solid #eee;
}
#categoryList>li:nth-of-type(6n+4), #categoryList>li:nth-of-type(6n+5), #categoryList>li:nth-of-type(6n+6) {
	width: 23%;
}
#categoryList>li>input[type=checkbox] {
	width: 15px; height: 15px;
}
#categoryList>li.tableHeader>input[type=submit] {
	width: 130px; height: 30px;
	margin: 0 auto;
}

#insertCategoryDiv {
	margin-top: 15px;
}

#insertCategoryDiv>hr {
	margin: 30px 0 80px;
}

/* product qna */
#productQnaList {
	background-color: #fff;
	width: 1100px; margin:0 auto;
	padding : 0 12px; overflow: auto;
	display : block;
}
#productQnaList>button[type=button] {
	width: 150px; height: 30px; float:right;
	margin: 10px 30px;
}
#productQnaList_ul {
	width: 100%; overflow: auto; text-align: center;
}
#productQnaList_ul>li {
	float:left;
	height: 40px; line-height: 40px; width: 15%;
}
#productQnaList_ul>li:not(li.tableHeader) {
	border-bottom: 1px solid #eee;
}
#productQnaList_ul>li:nth-of-type(6n+1) {
	width: 5%;
}
#productQnaList_ul>li:nth-of-type(6n+3) {
	width: 33%; padding-left: 2%; text-align: left;
}
#productQnaList_ul>li:nth-of-type(3) {
	width: 35%; padding-left: 0%; text-align: center;
}
#productQnaList_ul>li>input[type=checkbox] {
	margin: 0; padding: 0;
	width: 15px; height: 15px;
}
#pqnaAnswerOk>form>span{
	display:inline-block; width: 50px; height: 40px; line-height: 40px;
	text-align: center; margin-right: 40px; margin-left: 2%;
}
#pqnaAnswerOk>form>span:nth-of-type(4){
	vertical-align: top; margin-top: 40px;
}
#pqnaAnswerOk>form>input[type=text] {
	padding-left:2%; width: 80%; height: 40px;
	margin-bottom: 10px; 
}
#pqnaAnswerOk>form>textarea {
	margin-left: 5%; padding-left:2%; padding-top:2%;
	width: 88%; height: 100px; resize:none; margin-bottom: 20px;
	
}
#pqnaAnswerOk>form>textarea[name=pqnacontent] {
	margin-bottom: 50px; width: 80%; margin-left: 0;
}
#pqnaAnswerOk>form>p {
	margin-bottom: 20px; height: 50px; line-height: 50px;
	border-bottom : 2px solid;
}


/*tag css*/


/* productInsert */

h1{
	margin:20px 60px 30px;
}
select {
	width: 150px; height: 30px;
	font-size:1.2em;
	margin:5px 10px 5px 0;
}

input {
	width: 306px; height: 26px;
	margin:5px 20px 5px 0;
}

p>img {
	float:right;
	line-height: 50px;
	margin-top: 8px;
	cursor:pointer; 
}

/*class css*/
.pTitle {
	font-weight: bold; 	font-size:1.3em;
	float:left;
}
.pContent {
	display:inline-block;
	width: 80px; margin-left: 10px;
}
.tableHeader {
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #333;
}

/* product insert */
.optionList>input {
	width: 285px; margin: 5px 3px 0;
}
.optionList>input:first-child {
	margin-left: 20px;
}
.optionList>input:nth-of-type(4) {
	margin-right: 5px;
}
.pqnaAns {
	display: inline-block;
	width: 250px; height: 50px; line-height: 50px;
	font-size:1.2em; text-align: center;	
}

/* product Search */

.centertxt {
	margin-right: 10px;
}

