@charset "UTF-8";
.y_Adrightcon{
    width: 1200px;
    float: right;
}
.y_reviewAdRed{
    color: red;
    font-weight: bold;
}
.gradestar {
	color:rgb(255,150,0);
}
.elsestar {
	color:rgb(204,204,204);
}
/*공통*/
#pageTitle {
	margin: 40px auto; text-align: center;
}
#pageTitle>span {
	display:inline-block; font-size: 30px; font-weight: bold; 
}
#pageTitle>span:after {
	content: "";
    display: block;
    width: 80px;
    border-bottom: 1px solid rgb(191,43,53);
    margin: 20px auto;
}
/*리뷰관리 리스트*/
#y_adminReviewList_rightcon h2{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1){
    padding: 30px 20px 10px 0;
    margin-bottom: 20px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) ul li{
	float: left;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) ul li:first-child{
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	width:100px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) ul li a{
	display: block;
	width:100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left:10px;
}

#y_adminReviewList_rightcon>div:nth-of-type(1) form select{
    height: 30px;
    margin-left: 5px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) form input[type="text"]{
    width: 300px;
    height: 24px;
    margin-left: 5px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) form input[type="submit"]{
    width: 100px;
    height: 30px;
}
#y_adminReviewList_rightcon>div:nth-of-type(1) p{
	margin-top:10px;
	color: #aaa;
    font-size: 13px;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) div button{
    width: 70px;
    height: 25px;
    float: left;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) div{
    height: 30px;
    line-height: 30px;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) div p{
    float: right;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul li{
    float: left;
    height: 30px;
    line-height: 30px;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul li{
    width: 120px;
    text-align: center;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul li:nth-child(6n+1){
    width: 60px;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul li:nth-child(6n+2),#y_adminReviewList_rightcon>div:nth-of-type(2) ul li:nth-child(6n+3){
    width: 370px;
    padding-left:20px;
    text-align: left;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul{
    border-bottom: 1px solid #ddd;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul:first-of-type{
    border-top: 1px solid #333;
    border-bottom: 1px solid #aaa;
}
#y_adminReviewList_rightcon>div:nth-of-type(2) ul:first-of-type li:nth-child(2), #y_adminReviewList_rightcon>div:nth-of-type(2) ul:first-of-type li:nth-child(3){
    text-align: center;
}