<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arbor.home.dao.CartDAOImp">
	<insert id="cartInsert" parameterType="com.arbor.home.vo.CartVO">
		insert into cart(cartno, pno, userid, quantity<if test='#{optionvalue}!=null and #{optionvalue}!=""'>, optionvalue</if>, price)
		values(cartsq.nextval, ${pno}, #{userid}, ${quantity}<if test='#{optionvalue}!=null and #{optionvalue}!=""'>, #{optionvalue}</if>, ${price})
	</insert>
	<select id="cartCount" resultType="com.arbor.home.vo.CartVO">
		select DISTINCT c.pno, c.userid, p.pname, p.stock, p.img1 from cart c join product p on c.pno=p.pno where c.userid=#{param1}
	</select>
	<select id="cartList" resultType="com.arbor.home.vo.CartVO">
		select c.cartno, c.pno, c.userid, c.quantity, c.optionvalue, c.price, c.cartdate, p.pname, p.stock, p.img1 from (select * from cart where userid=#{param1} order by pno) c join product p on c.pno=p.pno
	</select>
	<update id="cartQuantityPlus">
		update cart set quantity=quantity+1 where cartno=#{param1}
	</update>
	<update id="cartQuantityMinus">
		update cart set quantity=quantity-1 where cartno=#{param1}
	</update>
	<delete id="cartOptDel">
		delete from cart where cartno=#{param1}
	</delete>
	<!-- 개수  -->
	<select id="cartQuantity" resultType="int">
		select quantity from cart where cartno=#{param1} and userid=#{param2}
	</select>
	<!-- 상품별 결제금액  -->
	<select id="cartPrice" resultType="int">
		select sum(price*quantity) as optsumprice from cart where pno=#{param1} and userid=#{param2}
	</select>
	<!-- 상품별 수량  -->
	<select id="cartOptQuantity" resultType="int">
		select sum(quantity) as optquantity from cart where pno=#{param1} and userid=#{param2}
	</select>
	<!-- 상품별 적립금  -->
	<select id="cartPoint" resultType="int">
		select sum(price*quantity)*0.02 as point from cart where pno=#{param1} and userid=#{param2}
	</select>
	<!-- 총수량 -->
	<select id="cartTotalQuantity" resultType="int">
		select sum(quantity) as totalquantity from cart where userid=#{param1}
	</select>
	<!-- 총배송비  -->
	<select id="cartTotalDeliv" resultType="int">
		select sum(quantity)*30000 as totaldeliv from cart where userid=#{param1}
	</select>
	<!-- 총적립금 -->
	<select id="cartTotalPoint" resultType="int">
		select sum(price*quantity)*0.02 as totalpoint from cart where userid=#{param1}
	</select>
	<!-- 총결제금액  -->
	<select id="cartTotalPrice" resultType="int">
		select sum(price*quantity) as totalprice from cart where userid=#{param1}
	</select>
	<!-- 메인버튼 삭제 -->
	<delete id="cartDel">
		delete from cart where pno=#{param1}
	</delete>
</mapper>