<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.arbor.home.dao.EventDAOImp">
  	<select id="eventList" resultType="com.arbor.home.vo.EventVO">
  		select eventNo, eventSubject, to_char(eventStart, 'yyyy-mm-dd') eventStart, to_char(eventEnd, 'yyyy-mm-dd') eventEnd, eventImg1
  		from event where <if test="searchWord!=null">${searchKey} like '%${searchWord}%' and</if>
  		to_date(eventEnd, 'YY-MM-DD')>sysdate order by eventNo desc
  	</select>
  	<select id="closeEvent" resultType="com.arbor.home.vo.EventVO">
  		select eventNo, eventSubject, to_char(eventStart, 'yyyy-mm-dd') eventStart, to_char(eventEnd, 'yyyy-mm-dd') eventEnd
  		from event where <if test="searchWord!=null">${searchKey} like '%${searchWord}%' and</if>
  		sysdate>to_date(eventEnd, 'YY-MM-DD') order by eventNo desc
  	</select>
  	<select id="lagLeadSelect" resultType="com.arbor.home.vo.PrevNextVO">
  		select * from (select eventNo, lag(eventNo, 1, 0) over (order by eventNo desc) prevNo,
  		lag(eventSubject, 1, '이전글이 없습니다.') over (order by eventNo desc) prevSubject,
  		lead(eventNo, 1, 0) over (order by eventNo desc) nextNo,
  		lead(eventSubject, 1, '다음글이 없습니다.') over (order by eventNo desc) nextSubject
  		from event where to_date(eventEnd, 'YY-MM-DD')>sysdate) where eventNo=#{param1}
  	</select>
  	<select id="eventAllSelect" resultType="com.arbor.home.vo.EventVO">
  		select eventNo, eventSubject, to_char(eventStart, 'yyyy-mm-dd') eventStart, to_char(eventEnd, 'yyyy-mm-dd') eventEnd, to_char(eventDate, 'yy/mm/dd hh24:mi') eventDate
  		from event <if test="searchWord!=null">where ${searchKey} like '%${searchWord}%'</if> order by eventNo desc
  	</select>
  	<insert id="eventInsert" parameterType="com.arbor.home.vo.EventVO">
  		insert into event(eventNo, eventSubject, eventContent, eventStart, eventEnd, eventImg1) values(eventsq.nextval, #{eventSubject}, #{eventContent}, #{eventStart}, #{eventEnd}, #{eventImg1})
  	</insert>
  	<select id="eventSelect" resultType="com.arbor.home.vo.EventVO">
  		select eventNo, eventSubject, eventContent, eventImg1, to_char(eventStart, 'yyyy-mm-dd') eventStart, to_char(eventEnd, 'yyyy-mm-dd') eventEnd, to_char(eventDate, 'yyyy-mm-dd hh24:mi') eventDate from event where eventNo=#{param1}
  	</select>
  	<select id="getFilename" resultType="com.arbor.home.vo.EventVO">
  		select eventImg1 from event where eventNo=#{param1}
  	</select>
	<update id="eventUpdate">
		update event set eventSubject=#{eventSubject}, eventContent=#{eventContent}, eventStart=#{eventStart}, eventEnd=#{eventEnd}, eventImg1=#{eventImg1} where eventNo=#{eventNo}
	</update>
	<delete id="eventDelete">
		delete from event where eventNo=#{param1}
	</delete>
  </mapper>