<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.arbor.home.dao.HomeDAOImp">
	<select id="mainList" resultType="com.arbor.home.vo.MainCateVO">
		select * from maincate
	</select>
	<select id="subList" resultType="com.arbor.home.vo.SubCateVO">
		select * from subcate
	</select>
</mapper>