<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.arbor.home.dao.MemberDAOImp">
	<!-- memstat 0 활성 1 휴면 2 탈퇴 -->
	
	<!-- 회원가입 -->
	<insert id="memberInsert" parameterType="com.arbor.home.vo.MemberVO">
		insert into member(userid, userpwd, username, zipcode, addr, detailaddr, tel, smsok, email, emailok, regdate, lastdate, memstat)
		values(#{userid}, #{userpwd}, #{username}, #{zipcode}, #{addr}, #{detailaddr}, #{tel}, #{smsok}, #{email}, #{emailok}, sysdate, sysdate, 0)
	</insert>
	<select id="loginCheck" resultType="com.arbor.home.vo.MemberVO">
		select userid, username from member where userid=#{userid} and userpwd=#{userpwd} and memstat = 0
	</select>
	<select id="idCheck" resultType="int">
  		select count(*) from member where userid = #{userid}
  	</select>
  	<!-- 회원검색 리스트 -->
	<select id="memberAllselect" resultType="com.arbor.home.vo.MemberVO">
	 	select userid, username, email, tel, to_char(regdate, 'YY-MM-DD HH:MI') regdate, to_char(lastdate, 'YY-MM-DD HH:MI') lastdate, smsok, emailok, memstat from member
                <if test="searchWord!=null">
                  where ${searchCate} like '%${searchWord}%'
                </if>
                <if test='emailok=="All"' >
                	and emailok in ('Y','N')
                </if>
                <if test='emailok=="Y"'>
                    and emailok = 'Y'
                </if>
                <if test='emailok=="N"'>
                    and emailok = 'N'
                </if>
                <if test='smsok=="Y"'>
                    and smsok = 'Y'
                </if>
                <if test='smsok=="N"'>
                    and smsok = 'N'
                </if>
		 order by userid desc
	</select>
	<!-- 로그아웃 시간기록 -->
	<update id="lastDateUpdate">
		update member set lastdate = TO_DATE(#{param1},'YYYYMMDDHH24miss') where userid = #{param2}
	</update>
	<!-- 휴면계정전환처리 -->
	<update id="memDormant">
	update member set memstat = 1 where userid=#{param1}
	</update>
	<!-- 회원삭제 -->
	<delete id = "memDel">
		delete from member where userid=#{param1}
	</delete>
</mapper>