<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.arbor.home.dao.OrderDAOImp">
	<select id="getMemberInfo" resultType="com.arbor.home.vo.MemberVO">
		select username, zipcode, addr, detailaddr, tel, email from member where userid=#{param1}
	</select>
	<select id="getUserPoint" resultType="com.arbor.home.vo.PointVO">
		select * from point where userid=#{param1} and pointNo=(select max(pointNo) from point)
	</select>
	<select id="getUserCoupon" resultType="com.arbor.home.vo.CouponVO">
		select cpnname, apply, available, salerate, to_char(cpnstart, 'yyyy-mm-dd') cpnstart, to_char(cpnend, 'yyyy-mm-dd') cpnend from coupon where userid=#{param1} and cpnend>=sysdate-1
	</select>
	<select id="getCouponCount" resultType="int">
		select count(cpnNo) from coupon where userid=#{param1} and cpnend>=sysdate-1
	</select>
	<select id="getOrderSeq" resultType="int">
		select lpad(ordersq.nextval, 3, '0') orderSq from dual
	</select>
	<insert id="orderComplete" parameterType="com.arbor.home.vo.OrderTblVO">
		insert into orderTbl(orderno, orderdate, userid, arr, arrtel, arrzipcode, arraddr, arrdetailaddr, request, pluspoint, usepoint, usecoupon, totalprice)
		values(#{orderno}, sysdate, #{userid}, #{arr}, #{arrtel}, #{arrzipcode}, #{arraddr}, #{arrdetailaddr}, #{request}, #{pluspoint}, #{usepoint}, #{usecoupon}, #{totalprice})
	</insert>
	<insert id="createSubOrderList" parameterType="com.arbor.home.vo.SubOrderVO">
		insert into suborder(suborderno, orderno, pno, pname, quantity, subprice)
		values(subordersq.nextval, #{orderno}, #{pno}, #{pname}, #{quantity}, #{subprice})
	</insert>
	<select id="getSubOrderList" resultType="com.arbor.home.vo.SubOrderVO">
		select suborderno, orderno, p.pno, p.pname, optno, quantity, pprice, saleprice, deliveryprice, subprice from suborder s join product p on s.pno=p.pno where orderno=#{param1}
	</select>
	<select id="getOrderInfo" resultType="com.arbor.home.vo.OrderTblVO">
		select * from orderTbl where orderno=#{param1}
	</select>
  </mapper>