<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.arbor.home.dao.OrderDAOImp">
	<select id="getMemberInfo" resultType="com.arbor.home.vo.MemberVO">
		select username, zipcode, addr, detailaddr, tel, email from member where userid=#{param1}
	</select>
	<select id="getUserPoint" resultType="com.arbor.home.vo.PointVO">
		select * from point where userid=#{param1} and pointNo=(select max(pointNo) from point)
	</select>
	<select id="getUserCoupon" resultType="com.arbor.home.vo.CouponVO">
		select cpnname, apply, available, salerate, to_char(cpnstart, 'yyyy-mm-dd') cpnstart, to_char(cpnend, 'yyyy-mm-dd') cpnend from coupon where userid=#{param1} and cpnend>=sysdate-1
	</select>
	<select id="getCouponCount" resultType="int">
		select count(cpnNo) from coupon where userid=#{param1} and cpnend>=sysdate-1
	</select>
	<select id="getOrderSeq" resultType="int">
		select lpad(ordersq.nextval, 3, '0') orderSq from dual
	</select>
	<insert id="orderComplete" parameterType="com.arbor.home.vo.OrderTblVO">
		insert into orderTbl(orderno, orderdate, userid, arr, arrtel, arrzipcode, arraddr, arrdetailaddr, request, pluspoint, usepoint, usecoupon, totalprice)
		values(#{orderno}, sysdate, #{userid}, #{arr}, #{arrtel}, #{arrzipcode}, #{arraddr}, #{arrdetailaddr}, #{request}, #{pluspoint}, #{usepoint}, #{usecoupon}, #{totalprice})
	</insert>
	<insert id="createSubOrderList" parameterType="com.arbor.home.vo.SubOrderVO">
		insert into suborder(suborderno, orderno, pno, pname, quantity, subprice)
		values(subordersq.nextval, #{orderno}, #{pno}, #{pname}, #{quantity}, #{subprice})
	</insert>
	<select id="getSubOrderList" resultType="com.arbor.home.vo.SubOrderVO">
		select suborderno, orderno, p.pno, p.pname, optno, quantity, pprice, saleprice, deliveryprice, subprice from suborder s join product p on s.pno=p.pno where orderno=#{param1}
	</select>
	<select id="getOrderInfo" resultType="com.arbor.home.vo.OrderTblVO">
		select * from orderTbl where orderno=#{param1}
	</select>
	<select id="allOrderList" resultType="com.arbor.home.vo.OrderTblVO">
		select to_char(orderdate, 'yyyy-mm-dd hh24:mi') orderdate, o.orderno, status, m.username, m.tel, arr, arrtel, request from orderTbl o join member m on o.userid=m.userid order by orderdate desc
	</select>
	<update id="updateOrderStatus">
		update orderTbl set status=#{param2} where orderno=#{param1}
	</update>
	<select id="selectOrderList" resultType="com.arbor.home.vo.OrderTblVO">
		select to_char(orderdate, 'yyyy-mm-dd hh24:mi') orderdate, o.orderno, status, m.username, m.tel, arr, arrtel, request
		from orderTbl o join member m on o.userid=m.userid
		where 1=1
		<choose>
			<when test="period!=''">
				<if test='period=="당일"'>and to_char(orderdate, 'yyyy/mm/dd')=to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="일주일"'>and sysdate-6<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="1개월"'>and add_months(sysdate, -1)<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="3개월"'>and add_months(sysdate, -3)<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
			</when>
			<otherwise>
				<if test="orderSearch_from!='' and orderSearch_to!=''">
					and '${orderSearch_from}'<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd')
					and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>'${orderSearch_to}'
				</if>
			</otherwise>
		</choose>
		<if test="searchWord!=''">and ${searchKey} like '%${searchWord}%'</if>
		order by orderdate desc
	</select>
	<select id="countOfOrderStatus" resultType="com.arbor.home.vo.OrderTblVO">
		select count(case when to_char(orderdate, 'yyyy/mm/dd')=to_char(sysdate, 'yyyy/mm/dd') then 1 end) as neworder,
		count(case when status='배송준비' then 1 end) as ready,
		count(case when status='배송중' then 1 end) as delivery,
		count(case when status='배송완료' then 1 end) as complete from orderTbl
		where 1=1
		<choose>
			<when test="period!=''">
				<if test='period=="당일"'>and to_char(orderdate, 'yyyy/mm/dd')=to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="일주일"'>and sysdate-6<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="1개월"'>and add_months(sysdate, -1)<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
				<if test='period=="3개월"'>and add_months(sysdate, -3)<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd') and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>to_char(sysdate, 'yyyy/mm/dd')</if>
			</when>
			<otherwise>
				<if test="orderSearch_from!='' and orderSearch_to!=''">
					and '${orderSearch_from}'<![CDATA[ <= ]]>to_char(orderdate, 'yyyy/mm/dd')
					and to_char(orderdate, 'yyyy/mm/dd')<![CDATA[ <= ]]>'${orderSearch_to}'
				</if>
			</otherwise>
		</choose>
	</select>
	<select id="totalRecord" resultType="int" parameterType="com.arbor.home.vo.PageSearchVO">
		select count(orderno) as totalRecord from orderTbl
	</select>
  </mapper>