<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.arbor.home.dao.ProductDAOImp">
 	<select id="mainCateList" resultType="com.arbor.home.vo.MainCateVO">
 		select mainno, mainname from maincate
 	</select>
 	
 	<select id="subCateList" resultType="com.arbor.home.vo.SubCateVO">
 		select subno, subname from subcate where mainno=${param1}
 	</select>
 	
 	<insert id="productInsert" parameterType="com.arbor.home.vo.ProductVO">
 		insert into product(pno, subno, pname, stock, allstock, pprice, saleprice, img1, img2, description)
 		values(productsq.nextval, ${subno}, #{pname}, ${stock}, ${allstock}, ${pprice}, ${saleprice},
 		#{img1}, #{img2}, #{description})
 	</insert>
 	
 	<insert id="optionInsert" parameterType="com.arbor.home.vo.OptionVO">
 		insert into optiontbl(optno, pno, optname, optvalue, optprice, rgbvalue)
 		values(optionsq.nextval, ${pno}, #{optname}, #{optvalue}, #{optprice}, #{rgbvalue})
 	</insert>
 	
 	<select id="pnoSelect" resultType="int">
 		select pno from product where subno=${param1} and pname=#{param2}
 	</select>
 	
 	<select id="productList" resultType="com.arbor.home.vo.ProductVO">
 		select p.pno, s.mainname, s.subname, p.pname, p.saleprice, p.stock, 
 		to_char(p.pdate, 'yyyy-mm-dd') as pdate from product p join (select s.subno, s.subname, m.mainname 
 		from subcate s join maincate m on s.mainno=m.mainno) s on p.subno=s.subno order by pno desc
 	</select>
 	
 	<select id="productSelect" parameterType="int" resultType="com.arbor.home.vo.ProductVO">
 		select pno, mainno, s.subno, pname, stock, pprice, saleprice, img1, img2, description
		from product p
		join (select s.subno, s.subname, m.mainno from subcate s join maincate m on s.mainno=m.mainno) s
		on p.subno=s.subno where pno=${param1}
 	</select>
 	
 	<select id="optionSelect" parameterType="int" resultType="com.arbor.home.vo.OptionVO">
 		select optno, optname, optvalue, optprice, rgbvalue from optiontbl where pno=${param1}
 	</select>
 </mapper>