<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arbor.home.dao.ReviewDAOImp">
	<delete id="reviewDelete">
		delete from review where reviewno=#{param1} and userid=#{param2}
	</delete>
	<update id="reviewUpdate" parameterType="com.arbor.home.vo.ReviewVO">
		update review set grade=${grade}, reviewcontent=#{reviewcontent}, reviewdate=sysdate where reviewno=${reviewno} and userid=#{userid}
	</update>
</mapper>