<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.arbor.home.dao.SalesDAOImp">
  	<select id="totalRecord" resultType="com.arbor.home.vo.SalesVO">
  		select to_char(orderdate, 'yyyy-mm-dd') as orderdate ,count(distinct(orderno)) as ordercnt
	  	from ordertbl
	  	<if test="sales_from!='' and sales_to!=''">
		  	where '${sales_from}'<![CDATA[ <= ]]>to_char(orderDate, 'yyyy-mm-dd')
		  	and to_char(orderDate, 'yyyy-mm-dd')<![CDATA[ <= ]]>'${sales_to}'
	  	</if>
	  	group by to_char(orderdate, 'yyyy-mm-dd')	  	
	  	order by orderdate desc
  	</select>
  	<select id="salesDetailInfo" resultType="com.arbor.home.vo.SalesVO">
  		select distinct s.orderno, max(t.pname) as pname, count(distinct s.suborderno) as productcnt,
		sum(s.subprice) as subprice, max(o.userid) as userid, max(m.username) as username
		from (select orderno, s.pno, p.pname from suborder s join product p on s.pno=p.pno) t
		join suborder s on t.orderno=s.orderno
		join ordertbl o on o.orderno=s.orderno
		join member m on m.userid=o.userid
		where to_char(orderDate, 'yyyy-mm-dd')=#{param1}
		group by s.orderno order by orderno desc
  	</select>
  	<select id="getDailySales" resultType="com.arbor.home.vo.SalesVO" parameterType="com.arbor.home.vo.PageSearchVO">
		select * from (select * from (select to_char(orderdate, 'yyyy-mm-dd') as orderdate,
		count(orderno) as ordercnt, sum(totalprice) as totalsales, sum(deliveryprice) as totaldelivery from ordertbl
		<if test="sales_from!='' and sales_to!=''">
			where orderdate	between to_date('${sales_from}', 'yyyy-mm-dd')
			and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
	  	</if>
		group by to_char(orderdate, 'yyyy-mm-dd')
		order by orderdate desc)
		<![CDATA[where rownum <= ]]>#{pageNum} * #{onePageRecord} order by orderdate asc)
		<![CDATA[where rownum <= ]]><if test="pageNum==totalPage">#{lastPageRecord}</if>
		<if test="pageNum!=totalPage">#{onePageRecord}</if> order by orderdate desc
  	</select>
  	<select id="getMonthlyChartData" resultType="com.arbor.home.vo.SalesVO">
	  	select to_char(orderdate, 'yyyy-mm') orderdate, count(orderno) as ordercnt,
		sum(totalprice-deliveryprice) as totalsales from ordertbl
  		<if test="sales_from!='' and sales_to!=''">
		where orderdate between to_date('${sales_from}', 'yyyy-mm-dd') and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
		</if>
		group by to_char(orderdate, 'yyyy-mm') order by orderdate
  	</select>
  	<select id="getDailyChartData" resultType="com.arbor.home.vo.SalesVO">
  		select to_char(orderdate, 'yyyy-mm-dd') orderdate, count(orderno) as ordercnt,
  		sum(totalprice-deliveryprice) as totalsales from ordertbl
  		<if test="sales_from!='' and sales_to!=''">
  		where orderdate between to_date('${sales_from}', 'yyyy-mm-dd') and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
  		</if>
  		group by to_char(orderdate, 'yyyy-mm-dd') order by orderdate	
  	</select>
  	<select id="getMonthlyPieChartData" resultType="com.arbor.home.vo.SalesVO">
  		select distinct subname, sum(quantity) as quantity from
		(select orderdate, subno, sum(quantity) as quantity from
		(select to_char(orderdate, 'yyyy-MM') as orderdate, pno, sum(quantity) as quantity
		from suborder s join ordertbl o on s.orderno=o.orderno group by to_char(orderdate, 'yyyy-MM'), pno)
		o join product p on o.pno=p.pno group by orderdate, subno)
		o join subcate s on o.subno=s.subno
  		<if test="sales_from!='' and sales_to!=''">
		where orderdate between to_date('${sales_from}', 'yyyy-mm-dd') and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
		</if>
  		group by subname
  	</select>
  	<select id="getDailyPieChartData" resultType="com.arbor.home.vo.SalesVO">
  		select distinct subname, sum(quantity) as quantity from
		(select orderdate, subno, sum(quantity) as quantity from
		(select to_char(orderdate, 'yyyy-mm-dd') as orderdate, pno, sum(quantity) as quantity
		from suborder s join ordertbl o on s.orderno=o.orderno group by to_char(orderdate, 'yyyy-mm-dd'), pno)
		o join product p on o.pno=p.pno group by orderdate, subno)
		o join subcate s on o.subno=s.subno
  		<if test="sales_from!='' and sales_to!=''">
  		where orderdate between to_date('${sales_from}', 'yyyy-mm-dd') and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
  		</if>
  		group by subname
  	</select>
  	<select id="getDailyMainCatePieChart" resultType="com.arbor.home.vo.SalesVO">
  		select distinct mainname, sum(quantity) as quantity from
		(select orderdate, o.subno, s.mainno, subname, quantity from
		(select orderdate, subno, sum(quantity) as quantity from
		(select to_char(orderdate, 'yyyy-mm-dd') as orderdate, pno, sum(quantity) as quantity
		from suborder s join ordertbl o on s.orderno=o.orderno group by to_char(orderdate, 'yyyy-mm-dd'), pno)
		o join product p on o.pno=p.pno group by orderdate, subno)
		o join subcate s on o.subno=s.subno order by orderdate desc)
		o join maincate m on o.mainno=m.mainno
		<if test="sales_from!='' and sales_to!=''">
  		where orderdate between to_date('${sales_from}', 'yyyy-mm-dd') and to_date('${sales_to}', 'yyyy-mm-dd')+0.9999
  		</if>
		group by mainname
  	</select>
  </mapper>