@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

#y_dibsTop{
	background:url(../../img/tree2.jpg) center no-repeat;
	background-size : cover;
	width:100%;
	height: 200px;
	position: relative;
}
.y_dibsHeader{
	background: #636363;
	height: 100%;
	opacity: 0.5;
}
#y_dibsTop>p{
	color:#fff;
	text-align: center;
	font-size:40px;
	font-weight: bold;
}
#y_dibsTop>p:nth-of-type(1){
	font-family: 'Dancing Script', cursive;
	color:rgb(248,244,236);
	font-size:60px;
	padding-top:50px;
	position: absolute;
	left:42%;
	top:5%;
}
#y_dibs_wrap>div:nth-child(1) h1{
    height: 80px;
    line-height: 70px;
    margin-bottom: 20px;
}
#y_dibs_wrap>div:nth-child(1)>div ul{
    width: 340px;
    height: 550px;
    margin-right: 10px;
    float: left;
    border: 1px solid #ddd;
    margin-top:10px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li{
    padding: 0 20px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:first-child{
    background: rgb(250,250,250);
    border-bottom: 1px solid #ddd;
    text-align: right;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:first-child button{
    background: rgb(250,250,250);
    border: none;
    cursor: pointer;
    font-size: bold;
    font-size: 16px;
}
#y_dibs_wrap>div:nth-child(1)>div ul:nth-child(4n+4){
    margin-right: 0;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(2) h2{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(3) img{
    width: 300px;
    height: 250px;
    border:1px solid #ddd;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(4){
    padding: 10px 20px;
    line-height: 20px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(4) span{
    font-weight: bold;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(5){
    height: 70px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(5) span{
    display: block;
    float: left;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 11px;
    padding:0 5px;
    margin-right: 5px;
    margin-top: 5px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(6){
    height: 40px;
}
#y_dibs_wrap>div:nth-child(1)>div ul li:nth-child(6) a{
    display: block;
    float: right;
    width: 120px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
/*paging 부분*/
#y_dibs_wrap>div:nth-child(1)>div{
	margin-bottom:30px;
}