@charset "UTF-8";
/* class */
.j_eventMenu{
	margin:15px 0;
	text-align:center;
	color:rgb(90,120,114);
 	font-weight:600;
	font-size:2em;
}
.j_tab-wrap>input[type=radio]{display:none}

.j_tabLbl{
	display:inline-block;
	margin:0 0 -1px;
	padding:10px 15px;
	font-weight:600;
	text-align:center;
	color:#bbb;
}
.j_tabLbl:hover{
	cursor:pointer;
	color:rgb(90,120,114);	
}
.j_tabs:checked+.j_tabLbl{
	color:#333;
	border:1px solid #bbb;
	border-top:2px solid rgb(90,120,114);
	border-bottom:1px solid #fff;
}
.j_tab-content{
	display:none;
	border-top:1px solid #bbb;
}
.j_search{padding-top:10px;height:30px;}
.j_search>form{float:right;height:25px;line-height:25px;}
.j_search select, .j_search input{height:25px;line-height:25px;vertical-align:middle;} /* 높이 통일화 필요 */
.j_search input[type=text]{padding:0;box-sizing:border-box;}

.j_eventBtn{
	height:25px;width:40px;
}

#j_eventFrm{
	padding-top:30px;
}

/* tab content */
#j_tab1:checked~#j_tab1_content,
#j_tab2:checked~#j_tab2_content,
#j_tab3:checked~#j_tab3_content{
	display:block;
}

/*----------------
	타임세일 tab
-----------------*/
@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#timer li{
	font-family:LAB디지털;
}
#timeSaleContent{
	display: block;
	margin: 0 300px;
	padding: 0 auto;
}
#timeSaleContent .bx-wrapper{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
#timeSaleContent .bx-wrapper .bx-next,
#timeSaleContent .bx-wrapper .bx-prev{
	display: none;
}
#j_tab1_content{
	background-repeat: no-repeat;
	background-size: contain;
	height: 1200px;	
}
#j_tab1_content>div{
	margin: 350px auto 0 auto;
}
#timer{
	margin: 50px 0;
 	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
#timer>ul:first-child li{
	width: 35px;
	float: left;
    border-radius: 100px;
    margin: 0 5px;
    padding: 35px;
    background: #555;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#timer>ul:last-child{
	margin-top: 5px;
}
#timer>ul:last-child li{
	float: left;
    text-align: center;
    width: 105px;
    margin: 0 5px;
    color: rgb(251,205,47);
    font-size: 18px;
    font-weight: bold;
}
#timer ul{
	display: inline-block;
	margin: 0 auto;
}
#timeSaleContent{
	margin-bottom: 50px;
}

/*---------------------
	진행중인 이벤트 tab
----------------------*/
/* 진행중인 이벤트 리스트 */
#j_eventList{padding-top:15px;}
#j_eventList>li{
	float:left;
	margin:10px 15px 20px 15px;
	padding:0 10px;
	text-align:center;
}
#j_eventList img{width:300px;height:250px;}
#j_eventList a:hover{cursor:pointer;}
#j_eventList strong{margin:10px 0;line-height:20px;}
#j_eventList p{color:gray;}
#j_eventList span:after{
	content:"";
	display:block;
	width:300px;
	border-bottom:1px solid #bbb;
	margin:5px 0 5px 0;
}
#j_eventList span:hover:after{
	border-bottom:1px solid #333;
}
/* 진행중인 이벤트 view */
#j_eventTitle, #j_contentList{
	border-top:1px solid rgb(229,229,229);
	border-bottom:1px solid rgb(229,229,229);	
}
#j_eventTitle{
	margin-top:50px;
	height:50px;
	background-color:rgb(246,246,246);
	line-height:50px;
	text-align:center;
	font-size: 1.5em;
}
#j_eventContent{
	padding:50px; text-align:center;
}
/* 이전글, 다음글 부분 */
#j_contentList{
	padding:10px; line-height:25px;
}
#j_eventListBtn{
	margin:10px 0; float:right;
}

/*------------------
	지난 이벤트 tab
------------------*/
#j_tab3_content li{
	float:left;
	width:10%;
	height:40px;
	line-height:40px;
	text-align:left;
	border-bottom:1px solid #ddd;
}
#j_tab3_content li:nth-child(4n+3){width:58%;}
#j_tab3_content li:nth-child(4n+4){width:22%;}
#j_tab3_content li:not(.j_subejct){text-align:center;}
#j_tab3_content li:nth-child(-n+4){font-weight:bold;font-size:1em;color:#333;}

