@charset "UTF-8";

#d_faqtitle li{
	float:left;
	height:40px;
	line-height:40px;
	font-size:17px;
	font-weight:bold;
	border-top:2px solid rgb(90,120,114);
	border-bottom:1px solid #ddd;
	background-color:rgb(251,251,251);
	text-align:center;
	width:100%;
}
#d_faqsubject li{
	width:100%;
	text-size:16px;
	border-bottom:1px solid #ddd;
	
}




