@charset "UTF-8";
/* class */
.d_main{
	margin:0;
	padding:0;
	width:100%;
	margin:0 auto;
}




/*header*/
header{
	margin:0;
	padding:0;
	width:100%;
	height:132px;
	text-align:center;
	position:sticky;
	top:0;
	left:0;
	z-index:900;
}

#d_logo{position:absolute; top:50px; left:47%; z-index:999;}
#d_topline{position:inherit;height:30px; line-height:30px; color:rgb(248,244,236); background-color:rgb(90,120,114);z-index:900;}
nav{width:100%; height:102px; background-color:#fff;position:absolute;z-index:100; border-bottom:1px solid rgb(90,120,114)}
nav>ul{width:100%; height:100%; text-align:center; position:relative;}
nav>ul>li{float:left; margin:60px 15px; display:inline-block;}
nav>ul>li:nth-child(n+5){float:right;}
nav>ul>li>a {margin-left:30px;position:relative; display:block; width:110px; height:40px; line-height:40px; font-size:20px;font-weight:bold;}
/*마우스호버효과*/
nav>ul>li>a:after {content:""; position:absolute; left:50%; bottom:-2px; width:0%; height:4px; 
background:rgb(90,120,114); transition: all 0.5s;}
nav>ul>li>a:hover:after{left:0; width:100%;}

/*서브메뉴*/
nav>ul ul{position:absolute;}
.d_sub_menu{
	position: absolute;
	
	background:#fff;
	width:100%;
	display:flex;
	left:0px;
	top:-400px;
	z-index:-1;
	border-bottom:1px solid rgb(90,120,114);
	}

.d_sub_menu2{
	position: absolute;
	background:#fff;
	width:100%;
	display:flex;
	left:0px;
	top:-400px;
	z-index:-1;
	border-bottom:1px solid rgb(90,120,114);
	}
	
.d_sub_menu3{
	position: absolute;
	background:#fff;
	width:100%;
	display:flex;
	left:0px;
	top:-400px;
	z-index:-1;
	border-bottom:1px solid rgb(90,120,114);
	}
/*서브메뉴스타일*/
.d_sub_menu .d_col{width:12%; height:450px; letter-spacing:1px;}
.d_sub_menu .d_col>ul{width:12%;padding-top:60px;}
.d_sub_menu .d_col>ul>li:first-child{color:rgb(90,120,114);font-size:25px; font-weight:bold;}

.d_sub_menu .d_col ul li{margin-left:40px;width:150px;line-height:50px; font-size:18px; }
.d_sub_menu .d_col ul li a{position:relative; padding-bottom:5px; transition:all 0.5s;}
.d_sub_menu .d_col ul li a:hover{color:rgb(90,120,114);font-weight:bold;}
.d_sub_menu .d_col ul li a:after{
	content:""; 
	position:absolute; 
	left:50%; bottom:-1px; 
	width:0%; height:3px; 
	background:rgb(90,120,114);
	transition: all 0.5s;
	
	}
.d_sub_menu .d_col ul li a:hover:after{left:0;width:100%;}
/*서브메뉴스타일2*/
.d_sub_menu2 .d_col{width:48%; height:450px;paddin-left:20px; letter-spacing:1px;}
.d_sub_menu2 .d_col>ul{width:22%;padding-top:60px;}
.d_sub_menu2 .d_col>ul>li:first-child{color:rgb(90,120,114);font-size:25px; font-weight:bold;}

.d_sub_menu2 .d_col ul li{width:550px;line-height:50px; font-size:18px; }
.d_sub_menu2 .d_col ul li a{position:relative; padding-bottom:5px; transition:all 0.5s;}
.d_sub_menu2 .d_col ul li a:hover{color:rgb(90,120,114);font-weight:bold;}
.d_sub_menu2 .d_col ul li a:after{
	content:""; 
	position:absolute; 
	left:50%; bottom:-1px; 
	width:0%; height:3px; 
	background:rgb(90,120,114);
	transition: all 0.5s;
	
	}
.d_sub_menu2 .d_col ul li a:hover:after{left:0;width:100%;}
/*서브메뉴스타일3*/
.d_sub_menu3 .d_col{width:48%; height:450px;paddin-left:20px; letter-spacing:1px;}
.d_sub_menu3 .d_col>ul{width:22%;padding-top:60px;}
.d_sub_menu3 .d_col>ul>li:first-child{color:rgb(90,120,114);font-size:25px; font-weight:bold;}

.d_sub_menu3 .d_col ul li{width:870px;line-height:50px; font-size:18px; }
.d_sub_menu3 .d_col ul li a{position:relative; padding-bottom:5px; transition:all 0.5s;}
.d_sub_menu3 .d_col ul li a:hover{color:rgb(90,120,114); font-weight:bold;}
.d_sub_menu3 .d_col ul li a:after{
	content:""; 
	position:absolute; 
	left:50%; bottom:-1px; 
	width:0%; height:3px; 
	background:rgb(90,120,114);
	transition: all 0.5s;
	
	}
.d_sub_menu3 .d_col ul li a:hover:after{left:0;width:100%;}
/*서브메뉴 이미지*/
.d_sub_menu .d_col:last-child{width:52%;}
.d_sub_menu .d_col:last-child>img{float:right;margin-right:100px;padding-top:55px; height:360px;width:460px;}

.d_sub_menu2 .d_col:last-child{width:52%;}
.d_sub_menu2 .d_col:last-child>img{float:right;margin-right:100px;padding-top:55px; height:360px;width:460px;}

.d_sub_menu3 .d_col:last-child{width:52%;}
.d_sub_menu3 .d_col:last-child>img{float:right;margin-right:100px;padding-top:55px; height:360px;width:460px;}



/*main*/
#d_topimg{height:calc(100vh - 132px);}
#d_topimg>div img{width:50%; height:calc(100vh - 132px);float:left;margin-bottom:200px;}
#d_list{height:600px;}
#d_listTitle {width:100%; height:20px}
#d_list li {
	width:25%;float:left; text-align:center;
	margin-bottom:200px;
}
#d_list>ul>li>a {
	display:block;
	width: 100%; text-align: center;
	height: 250px; 
}

#d_list img {
	width: 300px; height: 250px; margin-bottom:10px;
}

/*박스*/
#d_box{
	width:100%;
	position:relative;
	height:700px;
	overflow:hidden;
	margin-bottom:200px
}
#d_box div{background-color:black;float:left; margin:0;padding:0;}
#d_box div:nth-of-type(1){
	width:20%;
	
	}
#d_box div:nth-of-type(2){
	width:30%;
	}
#d_box div:nth-of-type(3){
	width:30%;
	}
#d_box div:nth-of-type(4){
	width:60%;
	
	}
#d_box div:nth-of-type(5){
	width:20%;
	top:-350px;
	
	}
#d_box div>img{display : block;}

.d_box_div1>img{
	width:100%;
	height:700px;
}
.d_box_div2>img{
	width:100%;
	height:350px;
}
.d_box_div3>img{

	width:100%;
	height:350px;
}
.d_box_div4>img{
	width:100%;
	height:350px;
}
.d_box_div5>img{
	float:right;
	width:100%;
	height:700px;
}

[trigger-up]{
	opacity:0;
	position:relative;
	top:150px;
	transition:all 1.5s;
}
[trigger-left]{
	opacity:0;
	position:relative;
	left:-150px;
	transition:all 1.5s;
}
[trigger-right]{
	opacity:0;
	position:relative;
	left:150px;
	transition:all 1.5s;
}
[trigger-down]{
	opacity:0;
	position:relative;
	top:-150px;
	transition:all 1.5s;
	
}

[trigger-up].visible ,
[trigger-left].visible,
[trigger-down].visible,
[trigger-right].visible{
	opacity:1;
	top:0;
	left:0;
}

/* 슬라이드 */
.slideBox{
	height:440px;
	width:1690px;
	margin:0 auto;
	margin-bottom:200px;
}
.slide_wraper{
	height:400px;
	width:100%;
	
	position:relative;
	overflow:hidden;
}
.slides{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	transition: left 0.5s ease-out;
}
.slides>ul>li:not(:last-child){
	float:left;
	margin-right:30px;
}
.slides>ul>li>img{
	width:400px;
	height:400px;
	display:block;
}

.controlls{
	width:100%;
	height:40px;
	position:relative;

}
.controlls span{
	font-size:25px;
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	left:0;
	top:0;
}
.controlls span.prev{
	display:none;
}
.controlls span.next{
	left:50px;
}

/*동영상*/
.videoBox {
	width:100%;
	position:relative;
	
}
.d_video {
	z-index:-1;
}
.d_video video{
	object-fit:fill;
}
#lookbook{
	width:1230px;
	height:280px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-615px;
	margin-top:-140px;
	text-align:center;
	
}
#lookbook p{
	color:#fff;
	font-size:150px;
	font-weight:bold;
}
#lookbook button{
	
	width:25%;
	height:50px;
	margin-top:30px;
	font-size:30px;
	color:#fff;
	background-color:black;
}
/*footer*/





