@charset "UTF-8";

.h_memUpdate_header {
	height:100px;
	text-align:center;
	line-height:100px;
	font-size:25px;
}

.h_memUpdate_container{
	float:right;
	width:1250px;
	/* overflow:auto; */
}

.h_memUpdate_form{
	height:400px;
	
}

/* li스타일  */


.h_memUpdate_ul{
	margin:0 200px;
	
}

.h_memUpdate_ul li{
	float:left;
	height:50px;
	line-height:50px;
}

.h_memUpdate_ul li:nth-child(2n+1){
	width:30%;
}
.h_memUpdate_ul li:nth-child(2n){
	width:69%;
}

.h_memUpdate_submitbox {
	text-align:center;
}

/* input 박스 버튼 셀렉트박스 등 */
.h_ipt{
	padding: 7px 40px 7px 12px;
	
	border: 1px solid #E8EAED;
	border-radius: 1px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
	margin:10px 0;
	}

.h_check_btn {
	font-size: 1.1em;
	line-height: 32px;
	width: 150px;
	height: 32px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(90,120,114);
	border: 1px solid rgb(90,120,114);
	background: transparent;
	border-radius: 1px;
	text-align:center;
		
}

.h_select {
	    padding: 7px 40px 7px 12px;
	    border: 1px solid #E8EAED;
	    border-radius: 1px;
	    background: white;
	    box-shadow: 0 1px 3px -2px #9098A9;
	    cursor: pointer;
	    font-size: 16px;
   
     }