@charset "UTF-8";

.h_memUpdate_header {
	height:100px;
	text-align:center;
	line-height:100px;
	font-size:25px;
}

.h_memUpdate_container{
	float:right;
	width:1250px;
	/* overflow:auto; */
}

.h_UpdateWriteForm{
	float:right;
	width:1250px;
	display:none;
}

.h_memUpdate_form{
	height:500px;
	
}
/* 비밀번호 체크 div */

.h_memPwdCheck_container{
	float:right;
	width:1250px;
}

.h_password_checkbox{
	width:400px;
	height:160px;
	margin: 0 auto;
	text-align: center;
}

.h_password_checkbox>img{
	width:150px;
	height:150px;
	margin:5px 5px;
	
}

.h_pwdconfirm_div {
	width:400px;
	height:100px;
	margin: 0 auto;
	font-size:1.2em;
}

.h_pwd_div{
	margin:15px 0;
	text-align:center;
}

.h_wrongPwd {
	text-align:center;
	display:none;
	color:red;
}

.h_pwd_div.correct{
	color:green;
}

.h_pwd_div.incorrect{
	color:red;
}

.h_pwd_ok.correct{
	color : green;
}
	
.h_pwd_ok.incorrect{
	color : red;
}
	
/* /////////////////////////////////////////////// */

/* li스타일  */


.h_memUpdate_ul{
	margin:0 200px;
	
}

.h_memUpdate_ul li{
	float:left;
	height:50px;
	line-height:50px;
}

.h_memUpdate_ul li:nth-child(2n+1){
	width:30%;
}
.h_memUpdate_ul li:nth-child(2n){
	width:69%;
}

.h_memUpdate_submitbox {
	text-align:center;
}

/* input 박스 버튼 셀렉트박스 등 */
.h_ipt{
	padding: 7px 40px 7px 12px;
	
	border: 1px solid #E8EAED;
	border-radius: 1px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
	margin:10px 0;
	}

.h_check_btn {
	font-size: 1.1em;
	line-height: 32px;
	width: 150px;
	height: 32px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(90,120,114);
	border: 1px solid rgb(90,120,114);
	background: transparent;
	border-radius: 1px;
	text-align:center;
		
}

.h_select {
	    padding: 7px 40px 7px 12px;
	    border: 1px solid #E8EAED;
	    border-radius: 1px;
	    background: white;
	    box-shadow: 0 1px 3px -2px #9098A9;
	    cursor: pointer;
	    font-size: 16px;
   
     }