@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*공통 class*/
.status_ready{
	background: #B3D5F2;
	color:#fff;
}
.status_delivDone{
	background: #aaa;
	color:#fff;
}
.status_cashCancle{
	background: #C3D9B8;
	color:#fff;
}
.status_review{
	background: #F2BF80;
	color:#fff;
}
.status_change{
	background: #F26849;
	color:#fff;
}
.boxshadow{
	box-shadow: 5px 5px 10px gray;
}
.gradestar {
	color:rgb(255,150,0);
}
.elsestar {
	color:rgb(204,204,204);
}
/*myPagemain 스타일*/
#y_myPageMain_wrap{
    position: relative;
}
#y_myPage_rightCon, #y_pointList_rightCon, #y_ChangeRefund{
    float: left;   
}
#y_myPage_rightCon>div, #y_pointList_rightCon>div{
    width: 1250px;
}
#y_myPage_rightCon>div h2, #y_pointList_rightCon>div h2,  #y_reviewList_rightCon>div h2{
	margin-bottom:20px;
	margin-top:10px;
}
#y_myPage_rightCon>div:nth-of-type(1)>ul>li,
#y_pointList_rightCon>div:nth-of-type(1)>ul>li{
    float: left;
    width: 200px;
    text-align: center;
}
#y_myPage_rightCon>div:nth-of-type(1)>ul>li:nth-child(4n+2){
    width: 500px;
}
#y_myPage_rightCon>div:nth-of-type(1)>ul>li:nth-child(4n+2) a{
    text-decoration: underline;
    text-underline-position: under;
}
#y_myPage_rightCon>div:nth-of-type(1)>ul>li:nth-child(4n+4){
    width: 350px;
}
#y_myPage_rightCon>div:nth-of-type(1)>ul>li:nth-child(4n+4) a{
	padding:5px 10px;
	margin-left:10px;
	border-radius: 5px;
	font-weight: bold;
}
#y_myPage_rightCon div:nth-of-type(1) h3{
	height:50px;
	line-height: 50px;
}
#y_myPage_rightCon div:nth-of-type(1) ul,
#y_pointList_rightCon div:nth-of-type(1) ul{
    border-top: 1px solid #333;
}
#y_myPage_rightCon div:nth-of-type(1) ul li,
#y_pointList_rightCon div:nth-of-type(1) ul li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
#y_myPage_rightCon div:nth-of-type(1) ul li:nth-child(1), #y_myPage_rightCon div:nth-of-type(1) ul li:nth-child(2),
#y_myPage_rightCon div:nth-of-type(1) ul li:nth-child(3), #y_myPage_rightCon div:nth-of-type(1) ul li:nth-child(4){
	border-bottom : 1px solid #aaa;
}
/*페이징*/
#myPagePaging li{
    float: left;
}

/*orderPopup 스타일*/
.w600_center{
    width: 600px;
    margin: 0 auto;
}
#y_orderPopup_Wrap{
    width: 650px;
    border: 1px solid #333;
    position: absolute;
    left: 30%;
    top: 5%;
    background: #fff;
    display:none;
}
#y_orderPopup_Wrap p{
    font-size: 18px;
    padding: 20px 20px 10px 10px;
    font-weight: bold;
}
#y_orderPopup_Wrap>p{
    text-align: right;
}
#y_orderPopup_Wrap div ul{
    border-top: 1px solid #333;
}
#y_orderPopup_Wrap div ul li{
    float: left;
    border-bottom: 1px solid #ddd;
}
/* 팝업 테이블 스타일 */
#y_orderPopup_Wrap>div:first-of-type ul li:nth-child(2n+1), #y_orderPopup_Wrap>div:nth-of-type(2) ul:nth-of-type(1) li:nth-child(2n+1){
    width:110px;
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding-left: 10px;
}
#y_orderPopup_Wrap>div:first-of-type ul li:nth-child(2n+2), #y_orderPopup_Wrap>div:nth-of-type(2) ul:nth-of-type(1) li:nth-child(2n+2){
    width: 170px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}
#y_orderPopup_Wrap>div:nth-of-type(2) ul:nth-of-type(2) li:nth-child(2n+1){
    width:110px;
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding-left: 10px;
}
#y_orderPopup_Wrap>div:nth-of-type(2) ul:nth-of-type(2){
    border-top: none;
}
#y_orderPopup_Wrap>div:nth-of-type(2) ul:nth-of-type(2) li:nth-child(2n+2){
    width: 470px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li{
    text-align: center;
    border-right: 1px solid #eee;
    height: 50px;
    line-height: 50px;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(1), #y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(2),
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(3), #y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4){
	border-bottom:1px solid #aaa;
}

#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4n+1){
    width: 298px;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4n+2){
    width: 149px;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4n+3){
    width: 49px;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4n+4){
    width: 100px;
    border-right: none;
}
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(1), #y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(2),#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(3),
#y_orderPopup_Wrap>div:nth-of-type(3) ul li:nth-child(4){
    height: 30px;
    line-height: 30px;
}
#y_orderPopup_Wrap>div:nth-of-type(4) ul li{
    width: 199px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #eee;
}
#y_orderPopup_Wrap>div:nth-of-type(4) ul li:nth-child(1),#y_orderPopup_Wrap>div:nth-of-type(4) ul li:nth-child(2),
#y_orderPopup_Wrap>div:nth-of-type(4) ul li:nth-child(3){
	border-bottom: 1px solid #aaa;
}
#y_orderPopup_Wrap>div:nth-of-type(4) ul li:nth-child(3n+3){
    border-right: none;
}
#y_popupPrintBtn{
    float: right;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    width: 100px;
    text-align: center;
}
#y_popupCloseBtn{
    display: block;
    width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
    color:#fff;
}

/*영수증 출력 팝업 스타일*/
#y_printPopup_Wrap{
    width: 500px;
    background: #fff;
    position: absolute;
    left: 45%;
    top: 10%;
    border: 1px solid #333;
    display:none;
}
#y_printPopup_Wrap>div:nth-of-type(1){
    width: 100%;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #333;
}
#y_printPopup_Wrap>div>p>button{
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background: #fff;
    border:none;
    cursor: pointer;
}
#y_printPopup_Wrap>h3{
    background: rgb(248, 244, 236);
    padding: 10px 0 10px 20px;
}
#y_printPopup_Wrap>div:nth-of-type(2) ul{
    width: 450px;
    margin: 20px auto 10px auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;
}
#y_printPopup_Wrap>div:nth-of-type(2) ul li{
    float: left;
    border-top: 1px solid #ddd;
    
}
#y_printPopup_Wrap>div:nth-of-type(2) ul li span{
    color: rgb(160,161,169);
    font-size: 10px;
}
#y_printPopup_Wrap>div:nth-of-type(2) ul li:nth-child(2n+1){
    width: 100px;
    background: #eee;
    padding: 10px 0 10px 10px;
}
#y_printPopup_Wrap>div:nth-of-type(2) ul li:nth-child(2n+2){
    padding-left: 10px;
    width: 330px;
    height: 58px;
    line-height: 58px;
}
#y_printPopup_Wrap>div:nth-of-type(2) ul li img{
	height:56px;
}
#y_printPopup_Wrap>div:nth-of-type(2) p{
    color: rgb(160,161,169);
    font-size: 11px;
    width: 450px;
    margin: 0 auto 10px auto;
}
#y_printPopup_Wrap>div:nth-of-type(3){
    width: 100%;
    background: rgb(248, 244, 236);
    margin-bottom: 20px;
}
#y_printPopup_Wrap>div:nth-of-type(3)>div{
    width: 450px;
    padding: 10px;
    margin: auto;
}
#y_printPopup_Wrap>div:nth-of-type(3)>div>p{
    float: left;
    width: 150px;
}
#y_printPopup_Wrap>div:nth-of-type(3)>div>ul{
    float: left;
    margin-top:20px;
    margin-left:20px;
}
#y_printPopup_Wrap>div:nth-of-type(4){
    width: 111px;
    margin: 0 auto 20px auto;
}
#y_printPopup_Wrap>div:nth-of-type(4) a:first-child{
    margin-right: 10px;
}
#y_printPopup_Wrap>div:nth-of-type(4) button, #y_printPopup_Wrap>div:nth-of-type(4) a{
    display: block;
    width: 48px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
}

/* 리뷰작성 팝업 스타일 */
.y_reviewWriteSmallText{
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
    display: block;
}
.colorRed{
    color:red;
}
#y_reviewWrite{
	display:none;
	background:#fff;
	position: absolute;
    left: 22%;
    top: 10%;
    width:800px;
    border: 1px solid #333;
    box-shadow: 5px 5px 10px gray;
}
#y_reviewWrite>p{
    height: 20px;
    padding: 3px;
}
#y_reviewWrite>p button{
    float: right;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
}
#y_reviewWrite>form{
    padding: 0 20px 20px 20px;
}
#y_reviewWrite>form>ul>li:nth-child(odd){
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
#y_reviewWrite>form>ul>li:nth-child(even){
    margin-bottom: 30px;
    font-size: 14px;
}
#y_reviewWrite>form>ul li:nth-child(4) textarea{
    width: 100%;
    resize: none;
    font-size: 14px;
}
#y_reviewPnoList li{
    float: left;
    width: 31%;
    margin-left: 20px;
    margin-bottom: 20px;
}
#y_reviewPnoList li p img{
    width: 100%;
    height:200px;
}
#y_reviewPnoList li:nth-child(3n+1){
    margin-left: 0;
}
#y_reviewPnoList li p:nth-child(2){
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align:center;
}
#y_reviewPnoList li p:nth-child(3){
    text-align: center;
}
#y_reviewWrite>form input[type=submit]{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    display: block;
}
/* coupon 페이지 스타일 */
.couponSearchBtn{
    border: 1px solid #eee;
    display: block;
    width: 120px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 7px auto 5px auto;
}
.couponSearchBtn:hover{
    border: 1px solid #333;
}
#y_coupon_rightCon{
    float: left;
    width: 1250px;
}
#y_coupon_rightCon>div:nth-of-type(1)>a, #y_reviewList_rightCon>div:nth-of-type(1)>a{
	border: 1px solid #ddd;
    width: 60px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
}
#y_coupon_rightCon>div:nth-of-type(1)>a:hover{
	border:1px solid #333;
}
#y_coupon_rightCon>div:nth-of-type(1){
    margin-top: 30px;
    margin-bottom: 20px;
}
#y_coupon_rightCon>div:nth-of-type(2) ul li{
    font-size: 14px;
    float: left;
    width: 150px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
#y_coupon_rightCon>div:nth-of-type(2) ul:first-child{
    border-top: 2px solid #333;
    border-bottom: 1px solid #aaa;
}
#y_coupon_rightCon>div:nth-of-type(2) ul li:nth-child(6n+2){
    width: 450px;
    text-align: center;
}
#y_coupon_rightCon>div:nth-of-type(2) ul li:nth-child(6n+5){
    width: 200px;
}
#y_coupon_rightCon>div:nth-of-type(2) ul:last-child li{
    border-bottom: 1px solid #eee;
}
#y_coupon_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(6n+2){
	text-align: left;
}
/*pointList 스타일*/
#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(1),#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(2),
#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(2),#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(3),
#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(4),#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(5) {
	border-bottom: 1px solid #aaa;
}
#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(5n+2){
	width: 450px;
	text-align: left;
}
#y_pointList_rightCon>div:nth-of-type(1) ul li:nth-child(2){
	text-align: center;	
}

/* rewview 페이지 스타일 */
#y_reviewList_rightCon{
    float: left;
    width: 1250px;
}

#y_reviewList_rightCon button{
    border: 1px solid #ddd;
    width: 60px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    cursor: pointer;
}
#y_reviewList_rightCon>div:nth-of-type(1){
    margin-top: 30px;
    margin-bottom: 20px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul li{
    font-size: 14px;
    float: left;
    width: 150px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:first-child{
    border-top: 2px solid #333;
    border-bottom: 1px solid #aaa;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul li:nth-child(2){
    width: 300px;
    text-align: center;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul li:nth-child(3){
    width: 300px;
    text-align: center;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:first-child li:nth-child(5){
    width: 200px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li{
    border-bottom: 1px solid #eee;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+2) {
	width: 300px;
	text-align: left;	
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+3) {
	width: 300px;
	text-align: left;	
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+5){
	width: 200px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7){
	width:100%;
	height:400px;
	text-align: left;
	display:none;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) span{
	margin-right:30px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) p{
	float: left;
	
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) p:nth-child(odd){
	width:10%;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) p:nth-child(even){
	width:90%;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) p:nth-child(6n+6) span{
	display: inline-flex;
	align-items: center;
	float: left;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) textarea{
	resize: none;
	height:200px;
	width:900px;
	padding:20px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) input[type='submit']{
	width:130px;
	height:40px;
	display:block;
	margin: 30px auto;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) input[type='radio']{
	appearance: none;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 100%;
	margin-right: 0.2rem;
	background-color: #fff;
  	border: 2px solid #ddd;
  	margin-left:15px;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) input[type='radio']:checked{
	appearance: none;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 100%;
	margin-right: 0.1rem;
	background-color: #333;
	border:2px solid #aaa;
}
#y_reviewList_rightCon>div:nth-of-type(2) ul:last-child li:nth-child(7n+7) form{
	width:1150px;
	margin:0 auto;
	font-size:16px;
}

/*교환및환불 페이지*/
.colorWhite{
    color:#fff;
}
#y_ChangeRefund{
	width:1250px;
}
#y_ChangeRefund>h1{
	margin:0;
}
#y_ChangeRefund>form>div:nth-of-type(1)>p:nth-of-type(1){
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
#y_ChangeRefund>form>div:nth-of-type(1)>p:nth-of-type(2){
    font-size: 12px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(1){
    border-top: 1px solid #333;
    border-bottom: 1px solid #aaa;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul li input[type=checkbox]{
	width:15px;
	height: 15px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(1) li{
    height: 30px;
    line-height: 30px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul li{
    font-size: 16px;
    text-align: center;
    width: 150px;
    float: left;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(2) li{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    height: 155px;
    line-height: 155px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(2) li:nth-child(6n+3){
    text-align: left;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(2) li:nth-child(6n+3) img{
    width: 250px;
    height: 150px;
    margin-left: 10px;
    display: block;
    float: left;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(2) li:nth-child(6n+3) p {
    float: left;
    width: 300px;
    margin-left: 20px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul:nth-of-type(2) li:nth-child(6n+5){
	height:95px;
	line-height:20px;
	padding-top:70px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul li:nth-child(6n+1){
    width: 50px;
}
#y_ChangeRefund>form>div:nth-of-type(1)>ul li:nth-child(6n+3){
    width: 600px;
}
#y_ChangeRefund>form>div:nth-of-type(2){
	margin-top:10px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul{
    float: left;
}
#y_ChangeRefund>form>p{
	font-size:12px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul li{
    font-size: 16px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul li select{
    font-size: 16px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul li textarea{
    resize: none;
    font-size: 16px;
    width: 600px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul:first-child li{
    margin-bottom: 10px;
    width:150px;
}
#y_ChangeRefund>form>div:nth-of-type(2)>ul:last-child li{
    margin-bottom: 10px;
}
#y_ChangeRefund>form>div:nth-of-type(3){
    margin-top: 30px;
    border-top:2px dotted #aaa;
    padding-top:30px;
}
#y_ChangeRefund>form>div:nth-of-type(3)>p{
    margin-bottom: 10px;
    font-size: 20px;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul{
    float: left;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul li{
    margin-bottom: 10px;
    height: 30px;
    font-size: 16px;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul li input{
    width: 350px;
    height: 20px;
    font-size: 16px;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul li:nth-child(2) input{
    width: 100px;
    text-align: center;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul li:nth-child(3) input{
    width: 120px;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul li:nth-child(4) input,
#y_ChangeRefund>form>div:nth-of-type(3) div ul li:nth-child(5) input{
    width: 600px;
}
#y_ChangeRefund>form>div:nth-of-type(3) div ul:nth-child(1){
    width: 150px;
}
#y_ChangeRefund>form>div:nth-of-type(4){
    width: 310px;
    margin: 30px auto 50px auto;
}
#y_ChangeRefund>form>div:nth-of-type(4) button{
    width: 150px;
    height: 40px;
}