@charset "UTF-8";

/* class */
.j_orderTitle{
 	margin: 25px 0 0 5px;
	font-size: 15px;
	font-weight: bold;
	color: #333;
}
.j_orderTable{
	border-top: 4px solid #333;
	margin:0 0 40px 0;
}
.j_orderTable>table{
	margin: 15px 10px 0 10px;
}
.j_orderTable input:not(input[type=button]), .j_orderTable select{
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 0 0 0 5px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 5px 10px 5px 0;
}
.j_orderTable input[type=button]{
	margin-right: 10px;
	padding: 0 5px 0 5px;
	height: 25px;
}
.j_orderTable:not(#j_productInfo) tr>td:nth-child(2n+1){
	font-weight: bold;
}

#orderCenterDiv{
	/* display: flex; */
	height: 1000px;
}
#orderCenterDiv>div{
	float: left;
}
#orderCenterDiv>div:first-child{
	width: 1050px;
}
#orderCenterDiv>div:nth-child(2){
	width: 350px;
	height: 100%;
}

/* 상품정보 */
#j_productInfo table{
	border-collapse: collapse;
}
#j_productInfo tr:first-child>td{
	height: 30px;
	line-height: 20px;
	text-align: center;
	color: #333;
	font-weight: bold;
}
#j_productInfo td{
	border-bottom: 1px solid #ddd;
}
.j_productList>td:not(.j_pInfo){
	text-align: center;
}
.j_pInfo>div{
	display: flex;
	align-items: center;
}
.j_pInfo>div>div{
	display: flex;
	flex-direction: column;
	text-align: top;
	height: 150px;
}
.j_pInfo span:first-child{
	margin: 10px 0 0 10px;
	font-size: 15px;
	font-weight: bold;
}
.j_pInfo span:last-child{
	margin: 5px 0 0 10px;
	color: gray;
	font-size: 12px;
}

/* 주문자 정보 */
#j_tel{
	width:70px;
}
#j_emaildomain{
	width:230px;
}

/* 배송지 정보 */
#j_orderFlex{
	display: flex;
	align-items: center;
}
#j_orderFlex span{
	margin-left: 20px;
	padding-top: 22px;
	font-size: 13px;
	color: #666;
}
#j_shippingInfo tr:nth-child(2)>td:first-child{
	vertical-align: top;
}

/* 적립금 및 쿠폰 */
#j_couponInfo span{
	font-size: 13px;
	color: #666;
}
#j_couponInfo select{
	width:500px;
}
#j_shippingInfo p, #j_couponInfo p{
	font-size: 12px;
	color: #aaa;
}

/* 결제 정보 */
#j_paymentDetail{
	margin: 0 14px 0 0;
	width: 250px;
	float: right;
	border: 1px solid #ddd;
	position: sticky;
	top: 160px;
}
#j_paymentDetail div:first-child{
	padding: 0 25px;
}
#j_paymentDetail>div:first-child>p{
	margin: 20px 0;
	font-size: 18px;
	font-weight: bold;
}

/* 최종 결제금액 부분 */
#j_paymentDetail table{
	width: 200px;
	color: gray;
	font-size: 13px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
#j_paymentDetail tr{	/* 줄 간격 안먹힘 */
	height: 20px;
}
#j_paymentDetail td:nth-child(2n+1){
	text-align: left;
}
#j_paymentDetail td:nth-child(2n+2){
	text-align: right;
}
#j_totalPrice{
	margin-top: 20px;
	text-align: right;
	color: #555;
	font-weight:bold;
}
#j_totalPrice>p:first-child{
	font-size: 13px;
}
#j_totalPrice>p:last-child{
	margin-top: 5px;
	font-size: 18px;
}
#j_totalPrice span{
	color: rgb(191,43,53);
}
#j_plusPoint{
	font-size: 12px;
	color: gray;
	text-align: right;
	margin-top:5px;
}

/* 결제 규정 */
#j_orderRegulation{
	margin-top: 20px;
	background: rgb(245,245,245);
}
#j_orderRegulation>p{
	padding: 10px;
	font-size: 13px;
}
#j_orderRegulation>p:nth-child(2){
	color: gray;
}
#checkoutBtn{
	width: 200px;
	height: 40px;
	margin: 15px 25px;
	font-size: 15px;
}