@charset "UTF-8";

/* id css*/

/* center */
#p_center {
	text-align: center;
	margin-top: 40px;
}
#p_center>img {
	width: 350px; height: 250px;
	margin:10px 20px;
}

#p_listTitle {
	margin: 30px 0;
}


/* header */
#p_header {
	width: 100%; height: 30px;
	margin-top: 130px;
}
#p_leftTitle{
	width: 25%; float:left;
}

#p_leftTitle>li {
	float:left; text-align: left;
}
#p_leftTitle>li:nth-of-type(2n) {
	width: 5%;
}

#p_rightTitle {
	width: 25%; float:right;
}

#p_rightTitle>li {
	float:left; width: 20%;
	text-align: center;
}

#p_rightTitle>li:first-child {
	text-align: right;
}

#p_rightTitle>li:nth-of-type(2n) {
	width: 6%;
}

/* list */
#p_list {
	margin-top: 60px;
}
#p_list li {
	width: 25%; height: 500px;
	float:left; text-align:center;
}
#p_list>ul>li>a {
	display:block;
	width: 100%; text-align: center;
	height: 250px;
}

#p_list>ul>li>a>img {
	width: 300px; height: 250px;
}

/* class css */
.p_color {
	width: 50%; height: 20px;
	margin-left: 30px; 
}
.p_color>div {
	float:left; width:10px; height:10px;
	margin: 5px;
}
.p_colorDiv>div {
	float:left; height: 40px; line-height: 40px;
}

.p_listdetail1 {
	font-size: 1.1em; font-weight: bold;
	margin:5px 0;
}
.p_listdetail2 {
	color:red; text-decoration:line-through;
}
.p_listdetail3 {
	font-size: 1.2em;
}

/* tag css */

