@charset "UTF-8";
/*class*/
.y_title_fs25{
    font-size: 25px;
    font-weight: bold;
}
.y_anserWait{
    background: rgb(52,152,219);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
.y_anserComp{
    background: rgb(94, 94, 94);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}   
.y_rightcon{
    width: 1250px;
    float: right;
}
/* qnaList 스타일*/
#y_list_rightcon>h2{
	margin-bottom: 20px;
	margin-top:10px;
}
#y_list_rightcon>ul:nth-of-type(1){
	border-top: 1px solid #333;
}
#y_list_rightcon>ul:first-of-type, #y_adminQnaList_rightcon>ul:first-of-type{
    margin-bottom: 30px;
}
#y_list_rightcon>ul:first-of-type>li, #y_adminQnaList_rightcon>ul:first-of-type>li{
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 15%;
    border-bottom: 1px solid #eee;
}
#y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(1), #y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(2),
#y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(3), #y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(4),
#y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(5), #y_list_rightcon>ul:first-of-type>li:nth-child(1),
#y_list_rightcon>ul:first-of-type>li:nth-child(2), #y_list_rightcon>ul:first-of-type>li:nth-child(3),
#y_list_rightcon>ul:first-of-type>li:nth-child(4), #y_list_rightcon>ul:first-of-type>li:nth-child(5){
	border-bottom:1px solid #aaa;
}
#y_list_rightcon>ul:first-of-type>li:nth-child(5n+2), #y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(5n+2){
    width: 40%;
    text-align: left;
}
#y_list_rightcon>ul:first-of-type>li:nth-child(2), #y_adminQnaList_rightcon>ul:first-of-type>li:nth-child(2){
	text-align: center;
}
#y_qnaGo{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: rgb(94,94,94);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto 30px auto;
    display: block;
    text-align: center;
}

/* qnaWrite class*/
.marginR80_vcTop{
    margin: 0 80px;
    vertical-align: top;
}
.colorRed{
	color:red;
}
/* qnaWrite(문의글작성 페이지) 스타일 */
#y_write_rightcon>p{
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
#y_write_rightcon>form div p:first-of-type{
	margin-top:20px;
}
#y_write_rightcon>form div p:nth-child(2){
    margin:10px 0 40px 0;
}
#y_write_rightcon>form div p:nth-child(3){
    margin-bottom:10px;
}
#y_write_rightcon>form div p {
    font-size: 16px;
}
#qnacate{
    margin-right: 20px;
    width: 100px;
    height: 35px;
    font-size: 15px;
}
#qnasubject{
	width: 700px;
    height: 30px;
    font-size: 15px;
		
}
#qnacontent{
    width: 900px;
    height: 500px;
    resize: none;
    color: #333;
}
#y_insertBtn{
    width: 100px;
    height: 40px;
    float: right;
    margin-top: 20px;
    margin-bottom:50px;
    cursor: pointer;
    font-size: 14px;
}
/* qnaView class*/
/* qnaView 페이지 스타일 */
#y_qanView_rightcon{
    margin-bottom: 30px;
}
#y_qanView_rightcon>p{
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
#y_qanView_rightcon>div{
    width: 1000px;
    margin: 0 auto;
}
#y_qanView_rightcon>div>h2{
    text-align: center;
    height: 80px;
    line-height: 80px;
}
#y_qanView_rightcon>div>div{
    height: 300px;
    padding: 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#y_qanView_rightcon>ul{
    width: 1000px;
    margin: 0 auto 40px auto;
}
#y_qanView_rightcon>ul>li{
    float: right;
}
#y_qanView_rightcon>ul>li:last-child, #y_qanView_rightcon>ul>li:nth-child(2){
    margin-right: 20px;
}
#y_qanView_rightcon>ul>li a{
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #ddd;
    border: 1px solid #333;
    text-align: center;
    
}
#y_qanView_rightcon>div:nth-of-type(2) p{
    float: left;
    height: 300px;
    padding-top: 20px;
    
}
#y_qanView_rightcon>div:nth-of-type(2) p:first-child{
    width: 150px;
    line-height: 340px;
    text-align: center;
    background: #eee;
    font-weight: bold;
    font-size: 16px;
    height: 340px;
}
#y_qanView_rightcon>div:nth-of-type(2) p:last-child{
    width: 810px;
    padding-left: 20px;
    border-right: 20px solid #eee;
    border-top: 20px solid #eee;
    border-bottom: 20px solid #eee;
}
#y_qnaListBtn{
	display: block;
	width: 100px;
    height: 30px;
    line-height: 30px;
    background: #ddd;
    border: 1px solid #333;
    text-align: center;
    float: right;
    margin:10px 0 30px 0;
}
/*///////////////////////////////////////*/
/* ADMIN List */
#leftcon{
    width: 150px;
    float: left;
}

#y_adminQnaList_rightcon>p{
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#y_adminQnaList_rightcon>div{
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #333;
}
#y_adminQnaList_rightcon>div>form{
    float: left;
}
#qnaSearchKey{
    height: 30px;
    width: 100px;
    margin-right: 5px;
    margin-left: 30px;
}
#qnaSearchWord{
    height: 25px;
    width: 300px;
    margin-right: 5px;
}
#qnaSearchBtn{
    margin-top: 10px;
    height: 33px;
    width: 100px;
    font-weight: bold;
}
#y_adminQnaList_rightcon>div>a{
	display:block;
    float: right;
    background: #ddd;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-right: 30px;
    font-weight: bold;
}
/* Admin View */
#answercontent{
    width: 825px;
    padding-left: 20px;
    float: left;
    height: 335px;
    padding-top: 20px;
    resize: none;
}
#qnaAnserBtn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #ddd;
    border: 1px solid #333;
    text-align: center;
    float: right;
    margin: 20px;
    cursor: pointer;
}