@charset "UTF-8";
/*class*/
.y_title_fs25{
    font-size: 25px;
    font-weight: bold;
}
.y_anserWait{
    background: rgb(52,152,219);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
.y_anserComp{
    background: rgb(94, 94, 94);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
.y_rightcon{
    width: 1250px;
    float: right;
}
/*임시헤더*/
#header>ul li:first-child{
    width: 100%;
    height: 40px;
    background: green;
}
#header>ul li:last-child{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
}
/*임시풋터*/
#footer{
    width: 100%;
    height: 300px;
    background: rgb(248, 244, 236);
}
/*마이페이지 공통 메뉴바*/
#y_leftMenu{
    width: 150px;
    float: left;
}
#y_leftMenu>ul>li{
    height: 50px;
    line-height: 50px;
}

/* qnaList 스타일*/
#y_list_rightcon>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
#y_list_rightcon>ul{
    margin-bottom: 30px;
}
#y_list_rightcon>ul>li{
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 15%;
    border-bottom: 1px solid #eee;
}
#y_list_rightcon>ul>li:nth-child(5n+2){
    width: 40%;
}
#y_qnaGo{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: rgb(94,94,94);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin: auto;
    display: block;
    text-align: center;
}

/* qnaWrite class*/
.marginR80_vcTop{
    margin: 0 80px;
    vertical-align: top;
}
.colorRed{
	color:red;
}
/* qnaWrite(문의글작성 페이지) 스타일 */
#y_write_rightcon>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
#y_write_rightcon>form div p:first-of-type{
	margin-top:20px;
}
#y_write_rightcon>form div p:nth-child(2){
    margin:10px 0 40px 0;
}
#y_write_rightcon>form div p:nth-child(3){
    margin-bottom:10px;
}
#y_write_rightcon>form div p {
    font-size: 16px;
}
#qnacate{
    margin-right: 20px;
    width: 100px;
    height: 35px;
    font-size: 15px;
}
#qnasubject{
	width: 700px;
    height: 30px;
    font-size: 15px;
		
}
#qnacontent{
    width: 900px;
    height: 500px;
    resize: none;
    color: #333;
}
#y_insertBtn{
    width: 100px;
    height: 40px;
    float: right;
    margin-top: 20px;
    margin-bottom:50px;
    cursor: pointer;
    font-size: 14px;
}
/* qnaView class*/
/* qnaView 페이지 스타일 */
#y_qanView_rightcon>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
#y_qanView_rightcon>div{
    width: 1000px;
    margin: 0 auto;
}
#y_qanView_rightcon>div>h2{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
#y_qanView_rightcon>div>div{
    height: 300px;
    padding: 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#y_qanView_rightcon>ul{
    width: 1000px;
    margin: 0 auto 40px auto;
}
#y_qanView_rightcon>ul li{
    float: right;
}
#y_qanView_rightcon>ul li:last-child{
    margin-right: 20px;
}
#y_qanView_rightcon>ul>li a{
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #ddd;
    border: 1px solid #333;
    text-align: center;
    
}
#y_qanView_rightcon>div:nth-of-type(2) p{
    float: left;
    height: 196px;
    padding-top: 20px;
    border: 2px solid #eee;
}
#y_qanView_rightcon>div:nth-of-type(2) p:first-child{
    width: 200px;
    line-height: 180px;
    text-align: center;
    background: #eee;
}
#y_qanView_rightcon>div:nth-of-type(2) p:last-child{
    width: 772px;
    padding-left: 20px;
}