@charset "UTF-8";
/*class*/
.y_title_fs25{
    font-size: 25px;
    font-weight: bold;
}
.y_anserWait{
    background: rgb(52,152,219);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
.y_anserComp{
    background: rgb(94, 94, 94);
    width: 100px;
    height: 30px;
    line-height:30px;
    display: block;
    color: #fff;
    margin: 5px auto;
    border-radius: 5px;
}
/*임시헤더*/
#header>ul li:first-child{
    width: 100%;
    height: 40px;
    background: green;
}
#header>ul li:last-child{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
}
/*임시풋터*/
#footer{
    width: 100%;
    height: 300px;
    background: rgb(248, 244, 236);
}
/*마이페이지 메뉴바*/
#y_leftMenu{
    width: 150px;
    float: left;
}
#y_leftMenu>ul>li{
    height: 50px;
    line-height: 50px;
}

/*1:1문의 메인페이지 스타일*/
#y_rightcon{
    width: 1250px;
    float: right;
}
#y_rightcon>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
#y_rightcon>ul{
    margin-bottom: 30px;
}
#y_rightcon>ul>li{
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 15%;
    border-bottom: 1px solid #eee;
}
#y_rightcon>ul>li:nth-child(5n+2){
    width: 40%;
}
#y_qnaGo{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: rgb(94,94,94);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin: auto;
    display: block;
    text-align: center;
}

