<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.arbor.home.member.MemberDAOImp">
	<select id="loginCheck" resultType="com.arbor.home.member.MemberVO">
		select userid, username from member where userid=#{userid} and userpwd=#{userpwd}
	</select>
	<insert id="memberInsert" parameterType="com.arbor.home.member.MemberVO">
		insert into member(userid, userpwd, username, zipcode, addr, detailaddr, tel, smsok, email, emailok, regdate, lastdate)
		values(#{userid}, #{userpwd}, #{username}, #{zipcode}, #{addr}, #{detailaddr}, #{tel}, #{smsok}, #{email}, #{emailok}, sysdate, sysdate)
	</insert>
	<select id="idCheck"  resultType="com.arbor.home.member.MemberVO">
		select userid from member where userid=#{param1}
	</select>
</mapper>