<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--  -->
<mapper namespace="com.arbor.home.qna.QnaDAOimp">
	<select id="allList" resultType="com.arbor.home.qna.QnaVO">
		select qnano, userid, qnacate, qnasubject, qnacontent, orderno, qnaorgno, qnastep, qnaprint, answercontent, to_char(qnadate, 'YY-MM-DD HH:MI') as qnadate from qna
	</select>
	<insert id="qnaInsert" parameterType="com.arbor.home.qna.QnaVO">
		insert into qna(qnano, userid, qnacate, qnasubject, qnacontent, orderno, qnaorgno) values(qnasq.nextval, #{userid}, #{qnacate}, #{qnasubject}, #{qnacontent}, 12341234, qnasq.currval)
	</insert>
	<select id="qnaSelect" resultType="com.arbor.home.qna.QnaVO">
		select qnano, userid, qnacate, qnasubject, qnacontent, orderno, qnaorgno, qnastep, qnaprint, answercontent, to_char(qnadate, 'YY-MM-DD HH:MI') as qnadate from qna where qnano=#{param1}
	</select>
	<update id="qnaUpdate" parameterType="com.arbor.home.qna.QnaVO">
		update qna set qnacate=#{qnacate}, qnasubject=#{qnasubject}, qnacontent=#{qnacontent} where qnano=#{qnano}
	</update>
	<delete id="qnaDelete">
		delete from qna where qnano=#{param1}
	</delete>
</mapper>