@charset "UTF-8";
/*class*/
.title_fs25{
    font-size: 25px;
    font-weight: bold;
}
/*임시헤더*/
#header>ul li:first-child{
    width: 100%;
    height: 40px;
    background: green;
}
#header>ul li:last-child{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
}
/*마이페이지 메뉴바*/
#leftMenu{
    width: 150px;
    float: left;
}
#leftMenu>ul>li{
    height: 80px;
    line-height: 80px;
}

/*1:1문의 메인페이지 스타일*/
#rightcon{
    width: 1250px;
    float: right;
}
#rightcon>p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
