@charset "UTF-8";
/* class */
.eventTitle{
	margin:15px 0;
	text-align:center;
	color:rgb(90,120,114);
 	font-weight:600;
	font-size:2em;
}
.tab-content{
	display:none;
	border-top:1px solid #bbb;
}
.search{height:30px;}
.eventList{float:left}
/* tab 라디오버튼 숨기기 */
.tab-wrap>input[type=radio]{display:none}

/* tab 라벨 */
label{
	display:inline-block;
	margin:0 0 -1px;
	padding:10px 15px;
	font-weight:600;
	text-align:center;
	color:#bbb;
}
label:hover{
	cursor:pointer;
	color:rgb(90,120,114);	
}
input:checked+label{
	color:#333;
	border:1px solid #bbb;
	border-top:2px solid rgb(90,120,114);
	border-bottom:1px solid #fff;
}
#tab1:checked~#tab1_content,
#tab2:checked~#tab2_content,
#tab3:checked~#tab3_content{
	display:block;
}
/* 검색창 */
.search{

}
.search>form{float:right;height:25px; line-height: 25px; vertical-align: middle;}
.search select, .search input{height:25px; line-height:25px;} /* 높이 통일화 필요 */
.search input[type=text]{pading:0;}
/* 진행중인 이벤트 tab */
.eventList>li{
	float:left;
	margin:10px 15px;
	padding:0 10px;
	text-align:center;
}
.eventList img{width:300px;height:250px;}
.eventList a:hover{cursor:pointer;}
.eventList strong, .eventList p{font-size:12px;}
.eventList a{border-bottom:1px solid #bbb;}
.eventList a:hover{border-bottom:1px solid #333;}
.eventList strong{margin:10px 0;line-height:20px;}
.eventList p{color:#aaa;}

/* 지난 이벤트 tab */
#tab3_content li{float:left;width:15%;height:40px;line-height:40px;text-ailgn:center;border-bottom:1px solid #ddd;}
#tab3_content li:nth-child(3n+2){width:60%;}
#tab3_content li:nth-child(3n+3){width:25%;}
#tab3_content li{}













