@charset "UTF-8";


/* 관리자트리메뉴 tab */

ul, ol, li{list-style:none; font-size: 12px;}
.tree_box { width:200px; border:1px solid #ccd3d9; }
.tree_box .title { padding:5px 0 5px 19px ;background:#f8f8f9;border-bottom:1px solid #ccd3d9;}
.tree_box .title strong {margin-right:12px;}
.tree_menu {line-height:18px;}
.tree_menu strong {font-weight:normal;}
.tree_menu label input {vertical-align:-2px;}
.tree_menu .depth_1  {margin-top:-2px;}
.tree_menu .depth_1 li a em {display:inline-block;width:31px;height:11px;font-size:0;line-height:0;vertical-align:middle;}
.tree_menu .depth_1 li a em.on {background-position:0 100%;}
.tree_menu li.last {background:none;}
.tree_menu li.last {background:none;}
.tree_menu .depth_2 {display:none;padding-left:2px;}
.tree_menu .depth_2 li {margin:0;padding:0;line-height:1;}
.tree_menu .depth_2 li a {display:block;padding-left:15px;}
/* .msie6 .tree_menu .depth_2 li a {display:inline-block;}
.form_tree_menu ul.depth_1 li {margin-left:6px;padding-left:27px;} */